.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
}

.navLinkWrapper {
  display: flex;
  align-items: center;
  gap: 15px;
}

.navLink {
  padding: 0;
  cursor: pointer;
  font-family: inherit;
  font-size: 16px;
  font-weight: bold;
  border: none;
  background-color: transparent;
  text-decoration: none;
  color: #2c3e50;
}

/* 
.main-nav a.router-link-exact-active {
  color: #42b983;
}
*/

.navLink:hover {
  text-decoration: underline;
}

.userWrapper p {
  margin: 0;
}

.logWrapper {
  display: flex;
  align-items: center;
  gap: 5px;
}

.navLogo {
  display: flex;
  align-items: center;
}

.logoImg {
  max-width: 100%;
  width: 200px;
}

.userCircle {
  width: 25px;
  height: 25px;
  color: #2c3e50;
}
